/*style pour le bouton*/

#ampoulebtn{

      display: block;
       margin-left: auto;
       margin-right: auto;
       padding: 15px;
       box-shadow: 4px 4px 4px 0 rgba(46, 61, 73, 0.13);
         border-radius: 0.25rem;
         letter-spacing: 0.09375rem;
         background: #fff;
 }
/*style pour positionnder l'ampoule*/
 #ampoule{
    position: relative;
    left:440px ;
 }